<!--
To change this template, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    </head>
    <body>
        <div>
            <h1>系统内的事件</h1>
            <ul>
                <li>view-page-index<li>
                <li>
                    <ul>
                        <li>监听：</li>
                        <li>
                            <ul>
                                <li>note-collection-book_types-reset   页面的分类集合填充或者重置</li>
                            </ul>
                        </li>
                        <li>触发：</li>
                        <li>
                            <ul>
                                <li>get_books_by_type   选择了某一个分类</li>
                                <li>book_types_get_request   获得全部分类</li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>

        </div>
    </body>
</html>
